.header
{
    background-color: #6900d1;
}

.navbar
{
    padding-top: 20px !important;
}

.nav-item
{
    margin-left: 40px;
    margin-bottom: 10px;
}

.nav-link
{
    color: #fff !important;
    font-size: 15px;
    display: unset !important;
}

.navbar-brand img 
{
    width: 125px;
}

.fa-bars
{
    color: #fff;
    font-size: 40px;
}

.navbar-toggler
{
    border: 0 !important;
    outline: 0 !important;
}

.active-home
{
    border-bottom: 2px solid #fff;
}

a.nav-link:hover
{
    border-bottom: 2px solid #fff;
}

.banner
{
    margin-top: 8%;
    color: #fff;

    h1 
    {
        margin: 80px 0 50px;
        font-weight: 600;
        font-size: 50px;
    }

    img 
    {
        max-height: 500px;
    }

    a 
    {
        padding: 12px;
        width: 175px;
        display: inline-block;
        background-color: #6900d1;
        text-decoration: none !important;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 5px;
        text-align: center;
        margin-top: 30px;
        font-weight: 500;
        font-size: 15px;
    }

    .express-btn
    {
        background-color: #fff !important;
        color: #000;
        margin-right: 5px;
    }
}